.track-wrapper {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: end;
  .btn {
    position: absolute;
    width: 40px;
    height: 20%;
    margin: 64px 0;
    z-index: 1;

    cursor: pointer;
    background: transparent;
    border: none;
  }
  .left.btn {
    left: -20px;

    /*     background: linear-gradient(
      90deg,
      rgba(0, 68, 94, 0.75) 0%,
      rgba(0, 0, 0, 0.75) 45%,
      rgba(0, 0, 0, 0) 80%
    ); */
  }
  .right.btn {
    right: -20px;
    /*     background: linear-gradient(
      -90deg,
      rgba(0, 68, 94, 0.75) 0%,
      rgba(0, 0, 0, 0.75) 45%,
      rgba(0, 0, 0, 0) 80%
    ); */
  }
}

.track {
  display: flex;
  margin: 8px 15px;
  padding: 0 8px;
  gap: 16px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-scrollbar {
    display: none;
  }
}
