.bg-container {
  position: relative;
  width: 100%;
  height: 70vh;
  justify-items: center;

  .backdrop {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-bottom-right-radius: 64px;
  }
}

.hero-info {
  position: absolute;
  top: 5vh;
  width: 92.5%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  background: linear-gradient(
    90deg,
    var(--background) 15%,
    #1f1f1f90 60%,
    #1f1f1f00 70%
  );
}

.item-container {
  position: relative;
  display: flex;
  gap: 32px;
  align-items: end;
  margin-top: -200px;
  .poster {
    min-width: 300px;
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 16px;
  }
  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
    width: 45vw;
    .title-info {
      display: flex;
      gap: 16px;
      align-items: center;
    }
    .genre-info {
      display: flex;
      gap: 16px;
      .genre-card {
        padding: 12px 16px;
        border-radius: 8px;
        background-color: #ffffff10;
      }
    }
  }
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 25vh;
}
