header {
  height: 5vh;
  padding: 0 96px;

  .header-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav ul {
      display: flex;
      gap: 32px;
      list-style: none;
      li {
        cursor: pointer;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: var(--foreground);
      }
    }
  }
}
